body {
  background-color: lightsteelblue;
}

#app {
  margin: auto;
}

#mainheader {
 color: steelblue;
}

#subheader {
  color:lightsteelblue;
}

#content {
  display: block;
  margin: auto;
  width: 55%;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5px;
}

@media only screen and (max-width: 800px) {
  #content {
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 650px) {
  #content {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

#searchDiv {
  display: inline-block;
  margin: auto;
  text-align: left;
}

#contentFooter {
  display: block;
  margin: auto;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}